# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.cmd text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.privkey text eol=lf
*.pubkey text eol=lf
*.sh text eol=lf
*.go text eol=lf
go.mod text eol=lf
go.sum text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.zip binary
*.jar binary
*.lnk binary
*.ico binary
*.icns binary
*.bmp binary
