build/bin
frontend/dist
frontend/node_modules
tmp/**/*
scratch/**/*

package-lock.json
package.json.md5

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

.clj-kondo/
.lsp/

# Project specific
build/windows/installer/wails_tools.nsh
./*.syso
frontend/src/assets/scss/**/*.css
frontend/src/assets/scss/**/*.css.map

# Overrides
!tmp/.gitkeep
!scratch/.gitkeep
WARP.md
