:root {
    --bold-modifier: 200;
    --line-height-tight: 1.3;
    --callout-border-width: 0px;
    --callout-border-opacity: 0.25;
    --callout-padding: 12px 12px 12px 24px;
    --callout-radius: 4px;
    --callout-title-color: inherit;
    --callout-title-padding: 0;
    --callout-title-size: inherit;
    --callout-title-weight: 600;
    --callout-content-padding: 0;
    --callout-content-background: transparent;
    --callout-blend-mode: var(darken);
    --callout-info: 8, 109, 221;
    --callout-todo: 8, 109, 221;
    --callout-default: 8, 109, 221;
    --callout-bug: 233, 49, 71;
    --callout-error: 233, 49, 71;
    --callout-fail: 233, 49, 71;
    --callout-success: 8, 185, 78;
    --callout-example: 120, 82, 238;
    --callout-important: 0, 191, 188;
    --callout-summary: 0, 191, 188;
    --callout-tip: 0, 191, 188;
    --callout-question: 236, 117, 0;
    --callout-warning: 236, 117, 0;
    --callout-quote: 158, 158, 158;
    --callout-collapse-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0ibTkgMThsNi02bC02LTYiLz48L3N2Zz4=");
}

html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

svg, svg.cls-1 {
    fill: none;
    stroke: currentColor;
}
/* #app {
    height: 100vh;
    text-align: center;
} */

.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #24292e;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.markdown-body h1, .markdown-body h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}

.markdown-body code {
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

.markdown-body pre {
  background-color: #f6f8fa;
  border-radius: 6px;
  padding: 16px;
  overflow: auto;
}

.markdown-body blockquote {
  border-left: 4px solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

.markdown-body table {
  border-collapse: collapse;
  display: block;
  overflow: auto;
  width: 100%;
}

.markdown-body th, .markdown-body td {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

.markdown-body th {
  background-color: #f6f8fa;
  font-weight: 600;
}

.anchor {
  display: none;
}

.markdown-alert {
    overflow: hidden;
    border-style: solid;
    border-color: rgba(var(--callout-color), var(--callout-border-opacity));
    border-width: var(--callout-border-width);
    border-radius: var(--callout-radius);
    margin: 1em 0;
    mix-blend-mode: var(--callout-blend-mode);
    background-color: rgba(var(--callout-color), 0.1);
    padding: var(--callout-padding);
    --callout-color: var(--callout-default);
    --callout-icon: lucide-pencil;
}

.markdown-alert-title {
    padding: var(--callout-title-padding);
    display: flex;
    gap: 4px;
    font-size: var(--callout-title-size);
    color: rgb(var(--callout-color));
    line-height: var(--line-height-tight);
    align-items: flex-start;
}

.disallowed, .disallowed svg.cls-1 {
    color: red;
    stroke: red;
}

.mermaid {
    color: rgb(0, 0, 0);
}