.bg-black {
    background-color: black;
}
.bg-silver {
    background-color: silver;
}
.bg-gray,
.bg-grey {
    background-color: gray;
}
.bg-white {
    background-color: white;
}
.bg-maroon {
    background-color: maroon;
}
.bg-red {
    background-color: red;
}
.bg-purple {
    background-color: purple;
}
.bg-fuchsia,
.bg-magenta {
    background-color: fuchsia;
}
.bg-green {
    background-color: green;
}
.bg-lime {
    background-color: lime;
}
.bg-olive {
    background-color: olive;
}
.bg-yellow {
    background-color: yellow;
}
.bg-navy {
    background-color: navy;
}
.bg-blue {
    background-color: blue;
}
.bg-teal {
    background-color: teal;
}
.bg-aqua,
.bg-cyan {
    background-color: aqua;
}
.bg-aliceblue {
    background-color: #f0f8ff;
}
.bg-antiquewhite {
    background-color: #faebd7;
}
.bg-aquamarine {
    background-color: #7fffd4;
}
.bg-azure {
    background-color: #f0ffff;
}
.bg-beige {
    background-color: #f5f5dc;
}
.bg-bisque {
    background-color: #ffe4c4;
}
.bg-blanchedalmond {
    background-color: #ffebcd;
}
.bg-blueviolet {
    background-color: #8a2be2;
}
.bg-brown {
    background-color: #a52a2a;
}
.bg-burlywood {
    background-color: #deb887;
}
.bg-cadetblue {
    background-color: #5f9ea0;
}
.bg-chartreuse {
    background-color: #7fff00;
}
.bg-chocolate {
    background-color: #d2691e;
}
.bg-coral {
    background-color: #ff7f50;
}
.bg-cornflowerblue {
    background-color: #6495ed;
}
.bg-cornsilk {
    background-color: #fff8dc;
}
.bg-crimson {
    background-color: #dc143c;
}
.bg-darkblue {
    background-color: #00008b;
}
.bg-darkcyan {
    background-color: #008b8b;
}
.bg-darkgoldenrod {
    background-color: #b8860b;
}
.bg-darkgray,
.bg-darkgrey {
    background-color: #a9a9a9;
}
.bg-darkgreen {
    background-color: #006400;
}
.bg-darkkhaki {
    background-color: #bdb76b;
}
.bg-darkmagenta {
    background-color: #8b008b;
}
.bg-darkolivegreen {
    background-color: #556b2f;
}
.bg-darkorange {
    background-color: #ff8c00;
}
.bg-darkorchid {
    background-color: #9932cc;
}
.bg-darkred {
    background-color: #8b0000;
}
.bg-darksalmon {
    background-color: #e9967a;
}
.bg-darkseagreen {
    background-color: #8fbc8f;
}
.bg-darkslateblue {
    background-color: #483d8b;
}
.bg-darkslategray,
.bg-darkslategrey {
    background-color: #2f4f4f;
}
.bg-darkturquoise {
    background-color: #00ced1;
}
.bg-darkviolet {
    background-color: #9400d3;
}
.bg-deeppink {
    background-color: #ff1493;
}
.bg-deepskyblue {
    background-color: #00bfff;
}
.bg-dimgray,
.bg-dimgrey {
    background-color: #696969;
}
.bg-dodgerblue {
    background-color: #1e90ff;
}
.bg-firebrick {
    background-color: #b22222;
}
.bg-floralwhite {
    background-color: #fffaf0;
}
.bg-forestgreen {
    background-color: #228b22;
}
.bg-gainsboro {
    background-color: #dcdcdc;
}
.bg-ghostwhite {
    background-color: #f8f8ff;
}
.bg-gold {
    background-color: #ffd700;
}
.bg-goldenrod {
    background-color: #daa520;
}
.bg-greenyellow {
    background-color: #adff2f;
}
.bg-honeydew {
    background-color: #f0fff0;
}
.bg-hotpink {
    background-color: #ff69b4;
}
.bg-indianred {
    background-color: #cd5c5c;
}
.bg-indigo {
    background-color: #4b0082;
}
.bg-ivory {
    background-color: #fffff0;
}
.bg-khaki {
    background-color: #f0e68c;
}
.bg-lavender {
    background-color: #e6e6fa;
}
.bg-lavenderblush {
    background-color: #fff0f5;
}
.bg-lawngreen {
    background-color: #7cfc00;
}
.bg-lemonchiffon {
    background-color: #fffacd;
}
.bg-lightblue {
    background-color: #add8e6;
}
.bg-lightcoral {
    background-color: #f08080;
}
.bg-lightcyan {
    background-color: #e0ffff;
}
.bg-lightgoldenrodyellow {
    background-color: #fafad2;
}
.bg-lightgray,
.bg-lightgrey {
    background-color: #d3d3d3;
}
.bg-lightgreen {
    background-color: #90ee90;
}
.bg-lightpink {
    background-color: #ffb6c1;
}
.bg-lightsalmon {
    background-color: #ffa07a;
}
.bg-lightseagreen {
    background-color: #20b2aa;
}
.bg-lightskyblue {
    background-color: #87cefa;
}
.bg-lightslategray,
.bg-lightslategrey {
    background-color: #778899;
}
.bg-lightsteelblue {
    background-color: #b0c4de;
}
.bg-lightyellow {
    background-color: #ffffe0;
}
.bg-limegreen {
    background-color: #32cd32;
}
.bg-linen {
    background-color: #faf0e6;
}
.bg-mediumaquamarine {
    background-color: #66cdaa;
}
.bg-mediumblue {
    background-color: #0000cd;
}
.bg-mediumorchid {
    background-color: #ba55d3;
}
.bg-mediumpurple {
    background-color: #9370db;
}
.bg-mediumseagreen {
    background-color: #3cb371;
}
.bg-mediumslateblue {
    background-color: #7b68ee;
}
.bg-mediumspringgreen {
    background-color: #00fa9a;
}
.bg-mediumturquoise {
    background-color: #48d1cc;
}
.bg-mediumvioletred {
    background-color: #c71585;
}
.bg-midnightblue {
    background-color: #191970;
}
.bg-mintcream {
    background-color: #f5fffa;
}
.bg-mistyrose {
    background-color: #ffe4e1;
}
.bg-moccasin {
    background-color: #ffe4b5;
}
.bg-navajowhite {
    background-color: #ffdead;
}
.bg-oldlace {
    background-color: #fdf5e6;
}
.bg-olivedrab {
    background-color: #6b8e23;
}
.bg-orange {
    background-color: #ffa500;
}
.bg-orangered {
    background-color: #ff4500;
}
.bg-orchid {
    background-color: #da70d6;
}
.bg-palegoldenrod {
    background-color: #eee8aa;
}
.bg-palegreen {
    background-color: #98fb98;
}
.bg-paleturquoise {
    background-color: #afeeee;
}
.bg-palevioletred {
    background-color: #db7093;
}
.bg-papayawhip {
    background-color: #ffefd5;
}
.bg-peachpuff {
    background-color: #ffdab9;
}
.bg-peru {
    background-color: #cd853f;
}
.bg-pink {
    background-color: #ffc0cb;
}
.bg-plum {
    background-color: #dda0dd;
}
.bg-powderblue {
    background-color: #b0e0e6;
}
.bg-rebeccapurple {
    background-color: #663399;
}
.bg-rosybrown {
    background-color: #bc8f8f;
}
.bg-royalblue {
    background-color: #4169e1;
}
.bg-saddlebrown {
    background-color: #8b4513;
}
.bg-salmon {
    background-color: #fa8072;
}
.bg-sandybrown {
    background-color: #f4a460;
}
.bg-seagreen {
    background-color: #2e8b57;
}
.bg-seashell {
    background-color: #fff5ee;
}
.bg-sienna {
    background-color: #a0522d;
}
.bg-skyblue {
    background-color: #87ceeb;
}
.bg-slateblue {
    background-color: #6a5acd;
}
.bg-slategray,
.bg-slategrey {
    background-color: #708090;
}
.bg-snow {
    background-color: #fffafa;
}
.bg-springgreen {
    background-color: #00ff7f;
}
.bg-steelblue {
    background-color: #4682b4;
}
.bg-tan {
    background-color: #d2b48c;
}
.bg-thistle {
    background-color: #d8bfd8;
}
.bg-tomato {
    background-color: #ff6347;
}
.bg-turquoise {
    background-color: #40e0d0;
}
.bg-violet {
    background-color: #ee82ee;
}
.bg-white {
    background-color: #ffffff;
}
.bg-whitesmoke {
    background-color: #f5f5f5;
}
.bg-yellowgreen {
    background-color: #9acd32;
}
