@use "variables" as *;

// ============================================================================
// GitHub Alerts/Callouts
// ============================================================================

.gh-alert {
    overflow: auto;
    border-style: solid;
    border-color: rgba(var(--callout-color), var(--callout-border-opacity));
    border-width: var(--callout-border-width);
    border-radius: var(--callout-radius);
    border-left: calc(var(--callout-radius) * 1.25) solid rgb(var(--callout-color));
    margin: 1em 0;
    mix-blend-mode: var(--callout-blend-mode);
    background-color: rgba(var(--callout-color), var(--callout-background-opacity));
    padding: var(--callout-padding);
    --callout-color: var(--callout-info);

    &[data-callout] {
        --callout-color: var(--callout-default);
    }

    &[data-callout^="note"],
    &[data-callout^="info"] {
        --callout-color: var(--callout-note);
    }

    &[data-callout^="tip"],
    &[data-callout^="hint"] {
        --callout-color: var(--callout-tip);
    }

    &[data-callout="important"] {
        --callout-color: var(--callout-important);
    }

    &[data-callout^="warn"],
    &[data-callout="attention"] {
        --callout-color: var(--callout-warning);
    }

    &[data-callout^="caution"],
    &[data-callout^="danger"],
    &[data-callout^="error"] {
        --callout-color: var(--callout-caution);
    }

    &[data-callout^="bug"] {
        --callout-color: var(--callout-bug);
    }

    &[data-callout^="example"] {
        --callout-color: var(--callout-example);
    }

    &[data-callout^="fail"],
    &[data-callout="missing"] {
        --callout-color: var(--callout-failure);
    }

    &[data-callout^="question"],
    &[data-callout^="faq"],
    &[data-callout="help"] {
        --callout-color: var(--callout-question);
    }

    &[data-callout^="quote"],
    &[data-callout^="citation"],
    &[data-callout="cite"] {
        --callout-color: var(--callout-quote);
    }

    &[data-callout^="scroll"],
    &[data-callout="tldr"],
    &[data-callout="history"] {
        --callout-color: var(--callout-scroll);
    }

    &[data-callout="done"],
    &[data-callout="check"],
    &[data-callout="success"] {
        --callout-color: var(--callout-success);
    }

    &[data-callout="summary"],
    &[data-callout^="abstract"],
    &[data-callout^="overview"] {
        --callout-color: var(--callout-summary);
    }

    &[data-callout^="todo"],
    &[data-callout^="task"],
    &[data-callout^="list"],
    &[data-callout^="outline"],
    &[data-callout="checklist"],
    &[data-callout="punchlist"] {
        --callout-color: var(--callout-todo);
    }

    .gh-alert-title {
        padding: var(--callout-title-padding);
        display: block;
        gap: 4px;
        /* align-items: flex-start; */
        font-size: var(--callout-title-size);
        color: rgb(var(--callout-color));
        line-height: var(--line-height-tight);
        font-weight: var(--callout-title-weight);
        // border: 1px dotted blue;

        p.callout-title-text {
            display: inline-block;
            position: relative;
            /* flex: 0 0 auto; */
            margin: 0;
            padding: 0;
            margin-bottom: 0.3em;
            font-size: 1.2em;
            font-weight: var(--callout-title-weight);
            // border: 1px dotted red;
        }

        svg,
        .callout-icon {
            flex: 0 0 auto;
            display: inline-block;
            position: relative;
            top: 0em;
            right: 0em;
            margin: 0;
            padding: 0;
            margin-bottom: -0.3em;
            align-items: center;
            margin-right: 0.2em;
            //border: 1px dashed green;
        }
    }

    p:not(:first-child) {
        padding: var(--callout-content-padding);
        background-color: var(--callout-content-background);
    }

    > summary {
        list-style: none;

        &::after {
            font-size: var(--callout-fold-symbol-size);
            content: "#{$callout-fold-isclosed}";
        }
    }
    &[open] > summary {
        list-style: none;
        &::after {
            font-size: var(--callout-fold-symbol-size);
            content: "#{$callout-fold-isopen}";
        }
    }
}
